* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  background: #000000;
}

.cover_pic {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  object-fit: cover;
  object-position: top;
}